<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>229140196527-qdvobgphh1kfrfa66mor21qn2o08nfge.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.229140196527-qdvobgphh1kfrfa66mor21qn2o08nfge</string>
	<key>API_KEY</key>
	<string>AIzaSyBeP5-zy2sheUrvVSLJmf44RGV7W_LgbRA</string>
	<key>GCM_SENDER_ID</key>
	<string>229140196527</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ece651project.ToDoo</string>
	<key>PROJECT_ID</key>
	<string>todoo-a1fcd</string>
	<key>STORAGE_BUCKET</key>
	<string>todoo-a1fcd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:229140196527:ios:fb6196425bb2510291785a</string>
	<key>DATABASE_URL</key>
	<string>https://todoo-a1fcd.firebaseio.com</string>
</dict>
</plist>